@page "/Users"
@inject NavigationManager navigate
@inject AuthenticationHttpClient Http
@inject IJSRuntime js

<AuthorizeView>
    <Authorized>
        <PageTitle>الجهات</PageTitle>

        <div class="card ">
            <div class="card-header bg-dark text-white">
                الموظفون
            </div>
            <div class="card-body">
                <div class="row g-3 mb-3">
                    <div class="col-auto">
                        <InputText class="form-control" @bind-Value="NameFilter" placeholder="ادخل اسم الموظف..."></InputText>
                    </div>
                    <div class="col-auto">
                        @if (!searching)
                        {
                            <button class="btn btn-outline-info" @onclick="search">بحث</button>
                        }
                        else
                        {
                            <p>يتم البحث الآن ...</p>
                        }
                    </div>
                </div>
                @if (lst_UserDTO != null && lst_UserDTO.Count > 0)
                {
                    <table class="table table-sm table-bordered table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th><i class="fa  pull-right hidden-xs"></i>الاسم الثلاثي</th>
                                <th><i class="fa  pull-right hidden-xs"></i>اسم المستخدم</th>
                                <th><i class="fa  pull-right hidden-xs"></i>الجهة التابع لها</th>
                                <th><i class="fa  pull-right hidden-xs"></i> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in lst_UserDTO)
                            {
                                <tr>
                                    <td>@r.FullName</td>
                                    <td>@r.UserName</td>
                                    <td>@r.DirectionName</td>
                                    <td>
                                        <a class="btn btn-info" title="تعديل" data-toggle="tooltip" href="@($"/EditDirection/{r.Id}")"><i class="oi oi-pencil"></i></a>
                                        <a class="btn btn-danger" title="حذف" data-toggle="tooltip" href="@($"/DeleteDirection/{r.Id}")"><i class="oi oi-trash"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (lst_UserDTO.Count == 0)
                {
                    <div class="alert alert-primary" role="alert">
                        لا توجد بيانات
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            you are not authoriazed
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    List<UserDTO>? lst_UserDTO = new();
    public string NameFilter { get; set; } = string.Empty;
    bool searching = false;
    protected override async Task OnInitializedAsync()
    {
        lst_UserDTO = await Http.GetUsers();
    }

    async Task search()
    {
        searching = true;
        //if (string.IsNullOrEmpty(NameFilter))
        //{
        //    lst_UserDTO = await ser.GetAll();
        //}
        //else
        //{
        //    lst_UserDTO = await ser.Search(NameFilter);
        //}
        searching = false;
    }
}
