@page "/AdminClearances"
@inject NavigationManager navigate
@inject ClearanceService ser
@inject AuthenticationHttpClient http
@inject IJSRuntime js
@attribute [Authorize(Roles = "Admin")]

<AuthorizeView>
    <Authorized>
        <PageTitle>طلبات براءة الذمة</PageTitle>

        <div class="card">
            <div class="card-header">
                <span class="card-header-text">طلبات براءة الذمة</span>
            </div>
            <div class="card-body">
                <div class="row g-3 mb-3">
                    <div class="col-auto">
                        <input class="form-control" @bind-value="NameFilter" placeholder="ادخل البيانات للبحث..."></input>
                    </div>
                    <div class="col-auto">
                        @if (!searching)
                        {
                            <button class="btn btn-outline-info" @onclick="search">بحث</button>
                        }
                        else
                        {
                            <p>يتم البحث الآن ...</p>
                        }
                    </div>
                </div>
                @if (lst_ClearanceDTO != null && lst_ClearanceDTO.Count > 0)
                {
                    <table class="table table-sm table-bordered table-striped table-hover">
                        <thead class="">
                            <tr>
                                <th><i class="fa pull-right hidden-xs"></i>اسم الطالب</th>
                                <th><i class="fa pull-right hidden-xs"></i>الرقم الوطني</th>
                                <th><i class="fa pull-right hidden-xs"></i>الرقم الجامعي</th>
                                <th><i class="fa pull-right hidden-xs"></i>القسم / الاختصاص</th>
                                <th><i class="fa pull-right hidden-xs"></i>تاريخ ووقت تقديم الطلب</th>
                                <th><i class="fa pull-right hidden-xs"></i>الحالة</th>
                                @*<th><i class="fa pull-right hidden-xs"></i>تاريخ ووقت  الانتهاء</th>*@
                                @*<th><i class="fa pull-right hidden-xs"></i>تم استلامه من قبل الطالب</th>*@
                                <th><i class="fa pull-right hidden-xs"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in lst_ClearanceDTO)
                            {
                                <tr>
                                    <td>@r.FirstName  @r.Father  @r.LastName</td>
                                    <td>@r.NationalNum</td>
                                    <td>@r.UnivNum</td>
                                    <td>@r.Department</td>
                                    <td>@r.OrderApplyDate</td>
                                    <td>@r.State</td>
                                    @*<td>@r.OrderRecieveDate</td>*@
                                   @* <td>
                                        @if (r.Done)
                                        {
                                            <p class="m-0">تم</p>
                                        }
                                        else
                                        {
                                            <p class="m-0">غير مستلم</p>
                                        }
                                    </td>*@
                                    <td>
                                        <a class="btn btn-warning" title="تفاصيل" data-toggle="tooltip" href="@($"/AdminDetailsClearance/{r.Id}")"><i class="oi oi-menu"></i></a>
                                        <a class="btn btn-info" title="تعديل" data-toggle="tooltip" href="@($"/EditClearance/{r.Id}")"><i class="oi oi-pencil"></i></a>
                                        <a class="btn btn-danger" title="حذف" data-toggle="tooltip" href="@($"/DeleteClearance/{r.Id}")"><i class="oi oi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else if (lst_ClearanceDTO.Count == 0)
                {
                    <div class="alert alert-primary" role="alert">
                        لا توجد بيانات
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            you are not authoriazed
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { set; get; }
    AuthenticationState user;
    List<ClearanceDTO>? lst_ClearanceDTO = new();
    public string NameFilter { get; set; } = string.Empty;
    bool searching = false;


    protected override async Task OnInitializedAsync()
    {

        user = await authenticationState;
        if (user != null && user.User.Identity.IsAuthenticated)
        {
            var Email = user.User.Identity.Name;
            lst_ClearanceDTO = await ser.GetAll();
        }
    }

    async Task search()
    {
        searching = true;

        if (string.IsNullOrEmpty(NameFilter))
        {
            lst_ClearanceDTO = await ser.GetAll();
        }
        else
        {
            lst_ClearanceDTO = await ser.Search(NameFilter);
        }
        searching = false;
    }

}
