@page "/DetailClearanceSuperVisor/{Id:int}"
@inject ClearanceService ser
@inject AuthenticationHttpClient http
@inject NavigationManager navManager
@inject IJSRuntime js
@attribute [Authorize(Roles = "SuperVisor")]

<AuthorizeView>
    <Authorized>
        <PageTitle>تفاصيل براءة الذمة</PageTitle>

        @if (clearanceDTO != null)
        {
            <div class="card ">
                <div class="card-header bg-dark text-white">
                    تفاصيل براءة الذمة
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>اسم الطالب</strong></td>
                                <td>@clearanceDTO.StudentName</td>
                            </tr>

                            <tr>
                                <td><strong>الرقم الجامعي</strong></td>
                                <td>@clearanceDTO.UnivNum </td>
                            </tr>
                            <tr>
                                <td><strong>الرقم الوطني</strong></td>
                                <td>@clearanceDTO.NationalNum</td>
                            </tr>
                            <tr>
                                <td><strong>الكلية/المعهد</strong></td>
                                <td>@clearanceDTO.CollageName </td>
                            </tr>
                            <tr>
                                <td><strong>القسم</strong></td>
                                <td>@clearanceDTO.Department </td>
                            </tr>

                            <tr>
                                <td><strong>تاريخ تقديم الطلب</strong></td>
                                <td>@clearanceDTO.OrderApplyDate</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group d-flex justify-content-center">
                        @if (clearanceDTO.State == false)
                        {
                            <button class="btn btn-outline-primary mx-2" @onclick="Done">بريء الذمة</button>
                            <button class="btn btn-outline-dark" @onclick="@(()=>navManager.NavigateTo("SuperVisorClearancesNotDone"))">رجوع</button>
                        }
                        else
                        {
                            <button class="btn btn-outline-dark" @onclick="@(()=>navManager.NavigateTo("SuperVisorClearancesDone"))">رجوع</button>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                لا توجد بيانات
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            ليس لديك صلاحية
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public int Id { get; set; }
    private ClearanceDirectionsDTO? clearanceDTO = new();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { set; get; }
    AuthenticationState user;
    private UserDTO userDTO;

    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
        {
            clearanceDTO = await ser.GetByDirectionId(Id);
            user = await authenticationState;
            var Email = user.User.Identity.Name;
            userDTO = await http.GetUser(Email);
        }
        else
        {
            await js.InvokeVoidAsync("alert", "براءة الذمة غير صالحة");
            navManager.NavigateTo("/SuperVisorClearancesNotDone");
        }

    }

    async void Done()
    {
        bool confirmed = await js.InvokeAsync<bool>("confirm", "هل أنت متأكد؟ لا يمكنك التراجع عن هذا الإجراء لاحقاً");
        if (confirmed)
        {
            clearanceDTO.State = true;
            var result = await ser.UpdateDirection(clearanceDTO, Id,userDTO.Id);
            if (result)
            {
                navManager.NavigateTo("/SuperVisorClearancesNotDone");
            }
            else
            {
                await js.InvokeVoidAsync("alert", "حدث خطأ");
            }
        }
    }

}