@page "/SVDetailsClearance/{Id:int}"
@inject ClearanceService ser
@inject NavigationManager navManager
@inject IJSRuntime js
@attribute [Authorize(Roles = "SuperVisor")]

<AuthorizeView>
    <Authorized>
        <PageTitle>تفاصيل براءة الذمة</PageTitle>

        @if (clearanceDTO != null)
        {
            <div class="card ">
                <div class="card-header bg-dark text-white">
                    تفاصيل براءة الذمة
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>اسم الطالب</strong></td>
                                <td>@clearanceDTO.StudentName</td>
                            </tr>

                            <tr>
                                <td><strong>الرقم الجامعي</strong></td>
                                <td>@clearanceDTO.UnivNum </td>
                            </tr>
                            <tr>
                                <td><strong>الرقم الوطني</strong></td>
                                <td>@clearanceDTO.NationalNum</td>
                            </tr>
                            <tr>
                                <td><strong>الكلية/المعهد</strong></td>
                                <td>@clearanceDTO.CollageName </td>
                            </tr>
                            <tr>
                                <td><strong>القسم</strong></td>
                                <td>@clearanceDTO.Department </td>
                            </tr>
                            <tr>
                                <td><strong>تاريخ تقديم الطلب</strong></td>
                                <td>@clearanceDTO.OrderApplyDate</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group d-flex justify-content-center">
                        @if (clearanceDTO.State is null)
                        {
                            <button class="btn btn-outline-primary mx-2" @onclick="Done">بريء الذمة</button>
                            <button class="btn btn-outline-warning mx-2" @onclick="NotDone">غير بريء الذمة - مراجعة</button>
                        }
                        <button class="btn btn-outline-dark" @onclick="Cancel">رجوع</button>
                    </div>
                </div>
            </div>


        }
        else
        {
            <div class="alert alert-info" role="alert">
                لا توجد بيانات
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            ليس لديك صلاحية
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public int Id { get; set; }
    private ClearanceDirectionsDTO? clearanceDTO = new();

    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
        {
            clearanceDTO = await ser.GetByDirectionId(Id);
        }
        else
        {
            await js.InvokeVoidAsync("alert", "براءة الذمة غير صالحة");
            navManager.NavigateTo("/SuperVisorClearances");
        }

    }

    async void Done()
    {
        bool confirmed = await js.InvokeAsync<bool>("confirm", "هل أنت متأكد؟ لا يمكنك التراجع عن هذا الإجراء لاحقاً");
        if (confirmed)
        {
            clearanceDTO.State = true;

            var result = await ser.UpdateDirection(clearanceDTO, Id);

            if (result)
            {
                navManager.NavigateTo("/SuperVisorClearances");
            }
            else
            {
                await js.InvokeVoidAsync("alert", "حدث خطأ");
            }
        }
    }

    async void NotDone()
    {
        clearanceDTO.State = false;

        var result = await ser.UpdateDirection(clearanceDTO, Id);
        if (result)
        {
            navManager.NavigateTo("/SuperVisorClearances");
        }
        else
        {
            await js.InvokeVoidAsync("alert", "حدث خطأ");
        }
    }

    void Cancel()
    {
        navManager.NavigateTo("/SuperVisorClearances");
    }
}