@page "/DetailsClearance/{Id:int}"
@inject ClearanceService ser
@inject NavigationManager navManager
@inject IJSRuntime js
@attribute [Authorize(Roles = "User")]

<AuthorizeView>
    <Authorized>
        <PageTitle>تفاصيل براءة الذمة</PageTitle>

        @if (clearanceDTO != null)
        {
            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-text">تفاصيل براءة الذمة</span>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><strong>اسم الطالب</strong></td>
                                        <td>@clearanceDTO.FirstName</td>
                                    </tr>
                                    <tr>
                                        <td><strong>الكنية</strong></td>
                                        <td>@clearanceDTO.LastName</td>
                                    </tr>
                                    <tr>
                                        <td><strong>اسم الأب</strong></td>
                                        <td>@clearanceDTO.Father</td>
                                    </tr>
                                    <tr>
                                        <td><strong>اسم الأم</strong></td>
                                        <td>@clearanceDTO.Mother</td>
                                    </tr>

                                    <tr>
                                        <td><strong>الرقم الجامعي</strong></td>
                                        <td>@clearanceDTO.UnivNum </td>
                                    </tr>
                                    <tr>
                                        <td><strong>الرقم الوطني</strong></td>
                                        <td>@clearanceDTO.NationalNum</td>
                                    </tr>
                                    <tr>
                                        <td><strong>الكلية/المعهد</strong></td>
                                        <td>@clearanceDTO.CollageName </td>
                                    </tr>
                                    <tr>
                                        <td><strong>القسم</strong></td>
                                        <td>@clearanceDTO.Department </td>
                                    </tr>
                                    <tr>
                                        <td><strong>تاريخ المراجعة</strong></td>
                                        <td>@clearanceDTO.AppointmentDate</td>
                                    </tr>
                                    <tr>
                                        <td><strong>الموظف مدخل الطلب</strong></td>
                                        <td>@clearanceDTO.UserName</td>
                                    </tr>
                                    <tr>
                                        <td><strong>تاريخ تقديم الطلب</strong></td>
                                        <td>@clearanceDTO.OrderApplyDate</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group d-flex justify-content-center">
                                @if (clearanceDTO.State.Equals("بريء الذمة") && !clearanceDTO.Done)
                                {
                                    <button class="btn btn-success mx-2" @onclick="Deliver">طباعة براءة الذمة</button>
                                }
                                <button class="btn btn-outline-warning mx-2" @onclick="ReNew">تجديد الطلب</button>
                                <button class="btn btn-outline-dark" @onclick="Cancel">رجوع</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-text">تفاصيل الجهات</span>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>الجهة</th>
                                        <th>الحالة</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in lst_ClearanceDirectionsDTO)
                                    {
                                        <tr>
                                            <td>@item.DirectionName</td>

                                            <td>
                                                @if (item.State is null)
                                                {
                                                    <p class="m-0">غير معالج</p>
                                                }
                                                else if (item.State == true)
                                                {
                                                    <p class="m-0">بريء الذمة</p>
                                                }
                                                else if (item.State == false)
                                                {
                                                    <p class="m-0">غير بريء الذمة</p>
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div id="print" class="container m-5" hidden>
                <div class="row" dir="rtl" lang="ar-sy">
                    <p class="d-block text-center mb-3">
                        <strong>
                            براءة ذمة
                        </strong>
                    </p>
                    <p class="d-block">
                        إن الطالب @clearanceDTO.FirstName @clearanceDTO.LastName بن @clearanceDTO.Father المسجل بـ @clearanceDTO.CollageName فرع @clearanceDTO.Department برقم جامعي @clearanceDTO.UnivNum
                    </p>

                    @for (int i = 0; i < lst_ClearanceDirectionsDTO.Count; i++)
                    {
                        <p class="d-block">
                            @(i + 1) - هو بريء الذمة تجاه @lst_ClearanceDirectionsDTO[i].DirectionName  &nbsp; @lst_ClearanceDirectionsDTO[i].UserName  &nbsp;  @(Convert.ToDateTime(lst_ClearanceDirectionsDTO[i].DoneDate).ToString("yyyy/MM/dd"))
                        </p>
                    }
                    <p class="d-block">
                       سدد الرسوم الجامعية كافة وتقديم وثيقة تبرع / اعفاء بالدم صادرة عن:  ــــــــــــــــــــــــــــــــــــــــــ برقم / ــــــــــــــــــــــــــــــــــــــــــ
                        <br>
                       تاريخ  ـــــــــ  /ـــــــــ/  ـــــــــ 20
                    </p>
                    @if (clearanceDTO.DateValidation is not null)
                    {

                        <p class="d-block">
                            <strong>
                                @Convert.ToDateTime(clearanceDTO.DateValidation).ToString("yyyy/MM/dd")
                            </strong>
                        </p>
                        @if (clearanceDTO.DateValidation.Value.AddMonths(3) >= DateTime.Now)
                        {
                            <p class="d-block">
                                صالحة لغاية 3 أشهر
                            </p>
                        }
                    }

                    <div class="form-group d-flex justify-content-around mt-3">
                        <p class="d-block"><strong>رئيس المركز</strong></p>
                        <p class="d-block"><strong>العميد</strong></p>
                    </div>

                </div>
            </div>


        }
        else
        {
            <div class="alert alert-info" role="alert">
                لا توجد بيانات
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            ليس لديك صلاحية
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public int Id { get; set; }
    private ClearanceDTO? clearanceDTO = new();
    private List<ClearanceDirectionsDTO>? lst_ClearanceDirectionsDTO = new();


    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
        {
            clearanceDTO = await ser.GetById(Id);
            lst_ClearanceDirectionsDTO = await ser.GetByclId(Id);
        }
        else
        {
            await js.InvokeVoidAsync("alert", "براءة الذمة غير صالحة");
            navManager.NavigateTo("/Clearances");
        }

    }


    async void Deliver()
    {
        bool confirmed = await js.InvokeAsync<bool>("confirm", "هل أنت متأكد؟ لا يمكنك التراجع لاحقاً");
        if (confirmed)
        {
            clearanceDTO.OrderRecieveDate = DateTime.Now;
            clearanceDTO.Done = true;
            var result = await ser.Update(clearanceDTO, Id);

            if (result)
            {
                await js.InvokeVoidAsync("printDiv", "print");
            }
            else
            {
                await js.InvokeVoidAsync("alert", "حدث خطأ");
            }
        }
    }



    async void ReNew()
    {
        clearanceDTO.AppointmentDate = DateTime.Now.AddDays(5);
        clearanceDTO.OrderApplyDate = DateTime.Now;
        clearanceDTO.OrderRecieveDate = null;
        clearanceDTO.State = "قيد المعالجة";
        clearanceDTO.Done = false;

        var result = await ser.RenewOrder(clearanceDTO, Id);

        if (result)
        {
            navManager.NavigateTo("/Clearances");
        }
        else
        {
            await js.InvokeVoidAsync("alert", "حدث خطأ عند الحفظ");
        }
    }


    void Cancel()
    {
        navManager.NavigateTo("/Clearances");
    }
}